<main class="min-h-screen bg-stone-50 flex items-center justify-center px-4 py-12">
    <div class="max-w-md w-full bg-white border border-stone-200 shadow-[20px_20px_0px_0px_rgba(0,0,0,0.03)] p-10 md:p-12">
        
        <div class="text-center mb-10">
            <h1 class="text-4xl font-black tracking-tighter uppercase italic mb-2 text-black">
                KickStore
            </h1>
            <h2 class="text-xs font-black uppercase tracking-[0.3em] text-zinc-400">Bienvenido de nuevo</h2>
            <p class="text-zinc-500 text-sm mt-4 font-medium">Inicia sesión</p> 
        </div>

        <form class="flex flex-col gap-6" (ngSubmit)="loginUser()">
            <div class="flex flex-col gap-2">
                <label class="text-[10px] font-black uppercase tracking-widest text-black ml-1">Email</label>
                <input 
                    type="email" 
                    name="email"
                    [(ngModel)]="email"
                    placeholder="Introduce tu correo" 
                    class="p-4 bg-stone-50 border border-stone-200 font-medium text-sm"
                    required> 
            </div>

            <div class="flex flex-col gap-2">
                <div class="flex justify-between items-center ml-1">
                    <label class="text-[10px] font-black uppercase tracking-widest text-black">Contraseña</label>
                    <a href="#" class="text-[9px] font-bold text-zinc-400 hover:text-red-600 transition-colors uppercase tracking-tighter">¿Olvidaste tu clave?</a>
                </div>
                <input 
                    type="password" 
                    name="password"
                    [(ngModel)]="password"
                    placeholder="••••••••" 
                    class="p-4 bg-stone-50 border border-stone-200 font-medium text-sm"
                    required>
            </div>

            <div *ngIf="error" class="text-red-600 text-sm font-bold">{{ error }}</div>

            <button 
                type="submit" 
                [disabled]="loading"
                class="mt-4 bg-black text-white p-5 font-black uppercase tracking-widest text-xs hover:bg-red-600 transition-all active:scale-95 shadow-xl shadow-zinc-200 disabled:opacity-40">
                {{ loading ? 'Iniciando...' : 'Iniciar Sesión' }}
            </button> 

            <div class="text-center mt-6 pt-6 border-t border-stone-100">
                <p class="text-zinc-500 text-xs font-medium">
                    ¿NUEVO EN KICKSTORE? 
                    <a routerLink="/register" class="text-red-600 font-black hover:underline ml-1">CREAR CUENTA</a> 
                </p>
            </div>
        </form>
    </div>
</main>